@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  z-index: 10;
}
.homeMap {
  width: 100%;
}

/* Estilos para el contenedor del mapa */
.leaflet-map {
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* Hacer que el mapa se ponga por detras de otros objetos y no por encima */
  position: relative;
  /* Hacer que el mapa se ponga por detras de otros objetos y no por encima */
  overflow: hidden;
  /* Hacer que el mapa se ponga por detras de otros objetos y no por encima */
  width: 100%;
  /* Hacer que el mapa se ponga por detras de otros objetos y no por encima */
  height: 100%;
  /* Hacer que el mapa se ponga por detras de otros objetos y no por encima */
}
/* Ejemplo de estilo personalizado para el control de zoom */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: transparent;
  color: red; /* Cambiar el color del texto */
}

/* Ejemplo de estilo personalizado para los marcadores */
.leaflet-marker-icon {
  width: 15px; /* Cambiar el tamaño de los marcadores */
  height: 15px;
  background-color: rgb(
    52,
    201,
    247
  ); /* Cambiar el color de fondo de los marcadores */
  /* Personalizar el icono del marcador */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

svg {
  display: inline !important;
}
@keyframes shine {
  0% {
    mask-position: -100% 0;
  }
  100% {
    mask-position: 200% 0;
  }
}
.info-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  font-size: 20px;
}

.info-content {
  padding: 10px;
}
