@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  z-index: 10;
}
.homeMap {
  width: 100%;
}

/* Estilos para el contenedor del mapa */
.leaflet-map {
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* Hacer que el mapa se ponga por detras de otros objetos y no por encima */
  position: relative;
  /* Hacer que el mapa se ponga por detras de otros objetos y no por encima */
  overflow: hidden;
  /* Hacer que el mapa se ponga por detras de otros objetos y no por encima */
  width: 100%;
  /* Hacer que el mapa se ponga por detras de otros objetos y no por encima */
  height: 100%;
  /* Hacer que el mapa se ponga por detras de otros objetos y no por encima */
}
/* Ejemplo de estilo personalizado para el control de zoom */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: transparent;
  color: red; /* Cambiar el color del texto */
}

/* Estilo mejorado para los marcadores */
.leaflet-marker-icon {
  width: 30px; /* Ajusta el tamaño del marcador */
  height: 30px;
  background-color: transparent; /* Fondo transparente */
  background-image: url("https://img.icons8.com/color/48/marker--v1.png"); /* Icono del marcador */
  background-size: contain; /* Asegura que la imagen se ajuste sin distorsión */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en el marcador */
  border: 0px solid transparent; /* Elimina el borde blanco que podría causar problemas */
  transition: transform 0.2s ease-in-out; /* Transición suave al hacer hover */
}

/* Añadir un efecto de hover para los marcadores */
.leaflet-marker-icon:hover {
  transform: scale(1.2); /* Aumentar el tamaño del marcador al pasar el ratón */
  box-shadow: 0 0 20px rgba(216, 25, 25, 0.5); /* Cambiar la sombra en hover */
}

svg {
  display: inline !important;
}
@keyframes shine {
  0% {
    mask-position: -100% 0;
  }
  100% {
    mask-position: 200% 0;
  }
}
.info-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  font-size: 20px;
}

.info-content {
  padding: 10px;
}

.fixed-hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0; /* Asegúrate de que el z-index sea mayor que el de otros elementos */
}

.fixed-content {
  top: 0;
  right: 0;
  z-index: 9999; /* Asegúrate de que el z-index sea mayor que el de otros elementos */
}

.sidebar {
  z-index: 9999; /* Asegúrate de que el z-index sea mayor que el de otros elementos */
}
/* Archivo CSS para manejar el comportamiento de la tercera columna */
.custom-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .custom-container {
    flex-direction: row;
  }

  .custom-container .third-column {
    width: 300px;
  }
}

.custom-container .third-column.horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}
